<div class="container">
<h1>Your cart</h1>
<%= debug session[:cart] %>
<table class="table table-hover">
  <% session[:cart].each do |id, quantity| %>
    <%item = Product.where(:id => id).first%>
      <tr>
        <td width="50"><%= image_tag item.image, :width =>100 %></td>
        <td><%=item.name %></td>
        <td>
          <%=form_tag(cartUpdate_quantity_path(id), method: :post)%>
            <input type=number value=<%=quantity%> name=quantity max=5 min=0  />
          <%= submit_tag("Update Quantity")%>
        </td>
        <td>
          <%=form_tag(delete_order_path(id), method: :post)%>
          <%= submit_tag("Delete order")%>
        </td>
        <td><%=quantity%></td>
      </tr>
  <%end%>
</table>

</div>
