
    <!-- Page Content -->
    <div class="container">


        <div class="col-lg-9">

          <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="row">
              <!-- <h1>You were looking for...<strong><%= params[:search_keywords] %></strong></h1> -->
              <%if @result.empty?%>
                <p>Sorry no results were found</p>
              <%else%>
              <% @result.each do|product|%>
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <% if(product.image != "") %>
                    <a href="#"><img class="card-img-top" src="<%=product.image %>" alt=""></a>
                  <% else %>
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                  <% end %>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="/products/<%= product.id%>"><%= product.name%></a>
                      <!-- <%= link_to product.name,products_path(product)%> -->
                    </h4>
                    <h5>$24.99</h5>
                    <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p> -->
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>
              <%end%>
              <%end%>
            </div>
            <%= paginate @result %>
          <!-- /.row -->

                <hr>
                <p>
                    <%= link_to 'Back', products_path %>
                </p>
        </div>

        <!-- /.col-lg-9 -->

      </div>
